#contact_modal {
  display: none;
}
* {
  box-sizing: border-box;
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 100px;
  border-radius: 5px;
  padding: 56px 50px 55px 50px;
}
.maincontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.textcontent {
  display: flex;
  flex-direction: column;
}

.photograph-header article h1 {
  color: #d3573c;
  font-size: 4em;
  margin: 0;
}
.photograph-header article article p {
  color: #901c1c;
  font-size: 1.5em;
  margin: 0px 0 19px 0;
}
.photograph-header article article .Tag {
  color: #525252;
  font-size: 1.025em;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  order: 3;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
  margin-right: 50px;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
/* .selection-form {
  margin: 20px 0 0 100px;
} */

/* Button part for photographers part */
aside {
  display: flex;
  margin-top: 9px;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.selection {
  font-size: 1.125em;
  font-weight: 700;
  margin: 20px 25px 0 100px;
}

.dropdown {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.dropdown-button {
  height: 69px;
  background-color: #901c1c;
  color: white;
  width: 170px;
  border-radius: 5px;
  border: none;
  font-size: 1.125em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 20px;
}

.dropdown-button:hover {
  background-color: #db8876;
  color: #000000;
}
.dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  width: 170px;
  display: none;
  left: 0;
  top: 100%;
  border: none;
  font-size: 1.125em;
  font-weight: 700;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #901c1c;
  list-style-type: none;
  padding: 0;
  margin-top: -3px;
}

.dropdown-menu-li {
  padding: 14px 0 14px 20px;
  position: relative;
}
.dropdown-menu-li:hover {
  background-color: #db8876;
  color: #000000;
}

.dropdown-menu-li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 150px;
  border: white solid 1px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.selection-hidden {
  display: none;
}

.photograph-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 93px;
  border: red solid 1px;
  margin: 30px 100px 0 100px;
}
.media {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.infoBox {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  font-size: 1.5em;
  margin: 7px 0 30px 0;
}
.info-title {
  width: 100%;
  max-width: 283px;
  text-overflow: ellipsis;
}
.info-likes {
  margin-right: 7px;
}
.big-heart {
  cursor: pointer;
}
.still-box {
  width: 376px;
  height: 67px;
  background-color: #db8876;
  color: #000000;
  position: fixed;
  bottom: 0px;
  right: 35px;
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-per-day {
  order: 3;
  width: 100%;
  text-align: end;
  margin-right: 34px;
}
.total-likes {
  margin: 0 7px 0 35px;
}
.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
