#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 55px 50px 56px 50px;
}

.photograph-header article h1 {
  color: #d3573c;
  font-size: 4rem;
  margin: 0;
}
.photograph-header :nth-child(2) {
  color: #901c1c;
  font-size: 1.5em;
  margin: 0px 0 19px 0;
}
.photograph-header :nth-child(3) {
  color: #525252;
  font-size: 1.125em;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  order: 3;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
  margin-right: 50px;
}
/* .modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
} */

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
