@import url("photographer.css");
:root {
  --first-color: #911c1c;
  --secondary-color: #d3573c;
  --third-color: #757575;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 90%;
  margin: auto;
}

html {
  font-size: 61%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-bottom: 8px;
}

h1 {
  color: var(--first-color);
  margin-right: 100px;
  margin-top: 44px;
  font-size: 2.25em;
  font-style: normal;
  font-weight: normal;
}

.logo {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 42px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px 115px;
  margin-top: 84px 6px 0 0;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.photographer_section article h2 {
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
}
img:hover {
  transform: scale(1.2);
  transition: 0.1s;
}
.photographer_section article p {
  font-size: 0.8125em;
  color: var(--first-color);
  margin: 0px;
}
.photographer_section article:nth-child(3) {
  font-size: 0.625em;
  color: black;
  margin: 3px 0 0 0;
}
