@import url("photographer.css");
* {
  margin: 0px;
}
:root {
  --first-color: #911c1c;
  --secondary-color: #d3573c;
  --third-color: #757575;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  max-width: 1440px;
  max-height: 1024px;
  perspective: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-bottom: 8px;
}

h1 {
  color: var(--first-color);
  margin-right: 100px;
  margin-top: 44px;
  font-size: 2.25em;
  font-style: normal;
  font-weight: normal;
}

.logo {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 42px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px 115px;
  margin-top: 84px 6px 0 0;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.photographer_section article a h2 {
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section article p {
  font-size: 0.822em;
  color: #901c1c;
  margin: 0px;
}
.photographer_section article :nth-child(3) {
  font-size: 0.825em;
  color: black;
  margin: 3px 0 0 0;
}
.photographer_section article :nth-child(4) {
  font-size: 00.8625em;
  color: #757575;
  margin: 3px 0 0 0;
}
